@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/container-queries";

@theme {
  --color-primary: #136dec;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101822;
  --font-display: "Inter", sans-serif;
  --font-sans: "Inter", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
}
